.whyus {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.whyus-top {
    display: flex;  
    flex-direction: column; 
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.whyus-top h2 {
  font-family: var(--font-tilda);
  font-size: 56px;
  font-weight: 600;
  letter-spacing: -1.12px;
  text-align: center;
  color: #050200;
  margin-bottom: 60px;
}
.whyus-top p {

    font-family: var(--font-inter-tight);
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.36px;
    text-align: left;
    color: #353332;

    margin-bottom: 20px;
}




.whyus-text {
    max-width: 586px;
    font-family: var(--font-inter-tight);
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.36px;
    text-align: left;
    color: #353332;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1 1 0;                /* текст – один flex-элемент */
}

.whyus-bottom img {
  flex: 1 1 0;                  /* картинка – второй flex-элемент */
  width: 100%;
  max-width: 30vh;  
  height: 100%;   
  max-width: 700px;              /* по высоте соседа */
  object-fit: cover;            /* обрезаем лишнее */
  object-position: center;      /* держим центр картинки */
  display: block;
}

.whyus-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;

}

@media (max-width: 1024px) {
 
  .whyus-top h2 {
    font-size: 40px;
  }
  .whyus-top p {
    font-size: 18px;
  }

}

@media (max-width: 768px) {

  .whyus-top {
    flex-direction: column;
    align-items:center;
    gap: 16px;
  }
  .whyus-top h2 {
    font-size: 32px;
  }
  .whyus-top p {
    max-width: 100%;
    font-size: 18px;
  }
  .whyus-bottom img {
    max-width: 100%;
  }
}


@media (max-width: 480px) {

  .whyus-bottom {
    display: flex;
    justify-content: space-around;
    gap: 48px;
    align-items: stretch;       /* дети одной высоты */
}


  .whyus-top h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .whyus-top p {

    font-size: 16px;
 
  }

  .whyus-text {
    font-size: 16px;
  }

  .whyus-bottom {

  flex-direction: column;

  }
}